@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #2eaafd;
}

.bg-root {
    background-color: var(--primary-color);
}

.color-root {
    color: var(--primary-color)
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    background-color: black;
    border-radius: 50px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #1e2225;
}